__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.DS_Store
*.swp
*.swo
reverse_engineering/
app.apk
libapp.so
*.dex
smali_out/
dex_dump/
frida-server
jadx/
baksmali.jar
apktool.jar
zulu-jdk.tar.gz
zulu*/
jadx.zip
/tmp/
